<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>绑定小区</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <button class="btn ajax-post confirm" target-form="ids" url="{:U('User/bindingResidential',array('uid'=>$uid))}">绑定</button>
        </div>
        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="nickname" class="search-input" value="{:I('nickname')}" placeholder="请输入用户昵称或者ID">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
		</div>
		</div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">ID</th>
		<th class="">小区名称</th>
		<th class="">省</th>
		<th class="">市</th>
		<th class="">区</th>
		<th class="">地址</th>
		<th class="">状态</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="list">
		<volist name="list" id="vo">
		<tr>
			<td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
			<td>{$vo.id} </td>
			<td>{$vo.residential_name}</td>
			<td>{:getRegion($vo['province'])}</td>
			<td>{:getRegion($vo['city'])}</td>
			<td><span>{:getRegion($vo['county'])}</span></td>
			<td><span>{$vo.address}</span></td>
			<td>{$vo.status_text}</td>
			<!--<td><a href="{:U('User/bindingResidential?uid='.$uid.'&id='.$vo['id'])}" class="confirm">绑定</a>
                </td>  -->
            
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
	var rid = [{$ridList}];
    $('.ids').each(function(){
        if( $.inArray( parseInt(this.value,10),rid )>-1 ){
            $(this).prop('checked',true);
        }
        if(this.value==''){
            $(this).closest('span').remove();
        }
    });
	 //导航高亮
	   highlight_subnav('{:U('User/index')}');
	</script>
</block>
