<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>  
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">   
<meta name="format-detection" content="telephone=no"/>
<title>修改密码</title>
<!--css-->
<link rel="stylesheet" href="__CSS__/enters.css">
</head>

<body>
<div class="main">
    <form action="{:U('User/submitPassword')}" method="post"  class="main_forms">
    <div class="all_main">
    	<div class="user_name">
            <input placeholder="请输入原密码"  type="password" name="old"  autocomplete="off" />
        </div>
        <div class="user_password">
        	<input type="password" name="password"  placeholder="请输入新密码"  autocomplete="off" />
        </div>
        <div class="user_password">
        	<input type="password" name="repassword" placeholder="确认密码"  autocomplete="off" />
        </div>
    </div>
    <div class="all_btn">
    <button type="submit" class="btn_confirm" target-form="form-horizontal">确定</button>
    <button class="btn_cancel" onclick="javascript:history.back(-1);return false;">取消</button>
    
    </div>
    </form>
</div>
</body>
</html>
