<extend name="Public/base" />

<block name="body">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__CSS__/bootstrap/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="__CSS__/two.css" type="text/css" />
<title>物业后台</title>
</head>

<body>
<div class="tab">
				<div class="tab_box">
					<div>
					<form action="{:U('User/submitPassword')}" method="post" class="form-horizontal">
                        <div class="plot">
                                <span>原密码</span>
                                <input type="password" name="old" autocomplete="off" /><br />
                                <span>新密码</span>
                                <input type="password" name="password" autocomplete="off" /><br />
                               <span>确认密码</span><input type="password" name="repassword" autocomplete="off" /><br />

                                <div>
                                <button type="submit" class="btn btn-primary" target-form="form-horizontal">确定</button>
                                <button class="btn btn-default btn-lg active" onclick="javascript:history.back(-1);return false;">返回</button>
                                </div>
                         </div>
                         </form>
					</div>
					
				
				</div>
			</div>
</body>

	
</block>

<block name="script">

	<script type="text/javascript">

    //导航高亮
    highlight_subnav('{:U('Index/index')}');
	</script>
</block>
