<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="__CSS__/details.css" />
 <link rel="stylesheet" href="__CSS__/rocketTop.css">
     	<link rel="stylesheet" href="__CSS__/sass-compiled.css">
        <link rel="stylesheet" href="__CSS__/Message.css">
		<!--js-->
		<script type="text/javascript" src="__JS__/jquery-1.js"></script>
       <script src="__JS__/rocketTop.js"></script>
       <script src="__JS__/tab.js"></script>
<title>帝安漾</title>
</head>

<body>
		<div class="nav-height" id="navHeight">
							<nav class="nav-wrap" id="nav-wrap">	  
				    <ul class="clearfix">
                    <li><a href="{:U('Index/index')}"><img class="logoimg" src="__IMG__/logo.png"></a></li>
				      <li><a class="" href="{:U('Index/index')}">首页</a></li>
                      <li><a class="active" href="{:U('Message/index')}">资讯</a></li>
				      <li><a class="" href="{:U('ProService/index')}">产品服务</a></li>
				      <li><a class="" href="{:U('AboutUs/index')}">关于我们</a></li>
                      <li><a class="" href="{:U('Investment/index')}">招商加盟</a></li>
                      <li><a href="https://www.zhangjiamenhu.com/admin.php?s=/Public/logout.html"><img class="logoimg_img" src="__IMG__/icon_login.png"></a></li>
				    </ul>
			 	</nav>
		</div>
   		<div class="topbox">
        	<!--<div class="topbox_top">
            
            </div>-->
            <img src="__IMG__/picture_banner1.jpg">
        </div>
<div class="details">
	<h1>{$data.title}</h1>
    <img  src="{$data.pic}">
     <span class="content">{$data.content}</span>
     <span class="details_time">{$data.time|date="Y-m-d",###}</span>
</div>

		
	 <include file="Public/footer" />
	 	<!--内容信息导航吸顶及锚点引入JS-->
	<div id="shape">
		<div class="shapeColor">
			<div class="shapeFly">
			</div>
		</div>
	</div>
</body>
</html>
