<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>联系我们</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">联系电话</label>
            <div class="controls">
                <span>0592-2199500</span>
            </div>
        </div>
           <div class="form-item">
            <label class="item-label">邮箱地址</label>
            <div class="controls">
                <span>renshi@zhangjiamenhu.com</span>
            </div>
        </div>
        <div class="form-item">
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Index/index')}');
    </script>
</block>
