<!-- 模拟前端提交信息 -->
<form action="{:U('Payment/add')}" method="post">
小区名字：<input type="text" name="community" value="">
<input type="hidden" name="id" value="4"> <!-- 与之相关的物业id -->
业主：<input type="text" name="people" value="">
水费：<input type="text" name="water" value="">
电费：<input type="text" name="electricity" value="">
停车费：<input type="text" name="car" value="">
网络费用：<input type="text" name="internet" value="">
物业费：<input type="text" name="property" value="">
地址：<input type="text" name="address" value="">
<input type="submit" value="提交">
</form>
