<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>  
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">   
<meta name="format-detection" content="telephone=no"/>
<title>服务订单</title>
<!--css-->
<link rel="stylesheet" href="__CSS__/serve.css">
<link rel="stylesheet" href="__CSS__/all_refer.css">
<!--js-->
<script src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/tab.js"></script>
</head>

<body>
<div class="main">
 <form action="{:U()}" method="post" class="form-horizontal">
	<div class="main_top">
    	<div class="sewv">
    	 <select name="status" class="xiala">
                	<option value="-4">状态</option>
                	<option value="0">已接单</option>
					<option value="2">收件中</option>
					<option value="3">寄件中</option>
					<option value="-1">已完成</option>
				</select>
				</div>
	         
        <div class="sewv_right"><button class="btn" type="submit" target-form="form-horizontal">查询</button></div>
        </div>
        </form>
    </div>
     	<div class="tab">
				<div class="tab_menu">
					<ul>
						<li class="selected">夜间快递</li>
						
					</ul>
				</div>
				<div class="tab_box">
					<div>
                    <table width="100%" border="1" cellpadding="0" cellspacing="0">
                          <tr>
                            <th width="95" scope="col">姓名</th>
                            <th width="66" scope="col">楼户号</th>
                            <th width="73" scope="col">手机号</th>
                            <th width="81" scope="col">备注</th>
                            <th width="81" scope="col">快递单号</th>
                            <th width="81" scope="col">金额</th>
                            <th width="130" scope="col">操作</th>
                          </tr>
                       <notempty name="list">
		<volist name="list" id="vo">
		<tr>
			<td>{$vo.name}</td>
			<td>{$vo.floor}{$vo.household}</td>
			<td>{$vo.phone}</td>
			<td>{$vo.describe} </td>
			<td>{$vo.courier_number} </td>
			<td>{$vo.price}</td>
			<td><eq name="vo.status" value="0">
				<a href="{:U('ServiceOrder/phoneChangeStatus?id='.$vo['id'])}" class="confirm">已接单</a>
				</eq>
				<eq name="vo.status" value="2">
				<a href="{:U('ServiceOrder/phoneChangeStatus?id='.$vo['id'])}" class="confirm" style="color:#0000E3;">收件中</a>
				</eq>
				<eq name="vo.status" value="3">
				<a href="{:U('ServiceOrder/phoneChangeStatus?id='.$vo['id'])}" class="confirm" style="color:#0000E3;">寄件中</a>
				</eq>
				<eq name="vo.status" value="1">
				<a href="{:U('ServiceOrder/phoneChangeStatus?id='.$vo['id'])}" class="confirm" style="color:#0000E3;">进行中</a>
				</eq>
				<eq name="vo.status" value="-1">
				<span style="color:#FF0000;">已完成</span>
				</eq>
				</td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
                          
                        </table> 
					</div>
					
            <div class="footer">
            	<div class="back"><a href="{:U('Index/index')}">返回首页</a></div>
                <div class="page">
        {$_page}
    </div>
            </div>
</div>
		

</body>
</html>
   
