<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="__CSS__/details.css" />
 	<link rel="stylesheet" href="__CSS__/rocketTop.css">
	<link rel="stylesheet" href="__CSS__/sass-compiled.css">
	<link rel="stylesheet" href="__CSS__/Message.css">
	<link rel="stylesheet" href="__CSS__/top.css">
		<!--js-->
	<script type="text/javascript" src="__JS__/jquery-1.js"></script>
	<script src="__JS__/rocketTop.js"></script>
	<script src="__JS__/tab.js"></script>
	<title>掌住-掌家门户</title>
</head>

<body>
		<div class="nav-height" id="navHeight">
         <div class="logoimg"><a href="{:U('Index/index')}"><img  src="__IMG__/logo.png"></a></div>
				<nav class="nav-wrap" id="nav-wrap">	  
				    <ul class="clearfix">
				     	 <li><a class="" href="{:U('Index/index')}">首页</a></li>
                     	<!-- <li><a class="" href="Message.html">资讯</a></li>-->
					  	<li><a class="" href="{:U('ProService/index')}">产品介绍</a></li>
					  	<li><a class="" href="{:U('AboutUs/index')}">关于我们</a></li>
						<li><a class="" href="{:U('ZJstore/index')}">掌Go便利店</a></li>
						<li><a class="active" href="{:U('Investment/index')}">招商加盟</a></li>
						<div class="right"><a href="https://www.zhangjiamenhu.com/admin.php?s=/Public/logout.html">物业入口</a></div>
						<div class="change">
							<span>中文 &nbsp&nbsp|&nbsp&nbsp</span>
							<a href="{:U('Investment/index_en')}">English</a>
						</div>
				    </ul>
			 	</nav>
		</div>
        <div class="construction">
        <img src="__IMG__/pictures_1.png" />
        </div>
		<div id="section4" class="section-content">
			<img style="width:100%;" src="__IMG__/contract-us.jpg">
		</div>
	 	<!--内容信息导航吸顶及锚点引入JS-->
	<div id="shape">
		<div class="shapeColor">
			<div class="shapeFly">
			</div>
		</div>
	</div>

</body>
</html>
