<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>修改缴费类型</h2>
    </div>
    <form action="{:U(savePaymentType)}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">缴费名称</label>
            <div class="controls">
            	<input type="hidden" name="id" value="{$data.id}">
                <input type="text" class="text input-large" name="title" value="{$data.title}">
            </div>
        </div>
        
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('PaymentType/index')}');
    </script>
</block>
