@charset "utf-8";
/* CSS Document */

.plot{
	padding:82px 150px;
}
.plot span{
	font-size:20px;
	display:block;
	margin-top:20px;
}
.plot input{
	margin-top:20px;
	width:260px;
	height:35px;
	padding-left:10px;
}
.plot .money{
	color:#ea6946;
	font-size:16px;
}
.yanzheng{
	width:128px;
	height:35px;
	border:none;
	margin-top:20px;
	color:#888888;
}
.btn_yan{
	background-color:#e6e6e6;
}
.btn_zheng{
	background-color:#b8c9f2;
}
.btn{
	width:90px;
	height:37px;
    font-size:20px;
	line-height:10px;
	margin-top:100px;
}
.btn-primary{
	margin-left:15px;
}
.btn-default{		
	margin-left:38px;

}
.text{
	color:#6a8ada;
	font-size:16px;
	margin-left:25px;
	margin-top:20px;
}